{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Sobre</h3>

<p>
   Este projeto foi desenvolvido por dois estudantes do Instituto Federal do Paraná (IFPR) — Lara Gazola e Thiago Nicoletti — com o objetivo de criar uma solução acessível e eficiente para o monitoramento remoto de temperatura e umidade em adegas. A ideia surgiu da necessidade de facilitar o controle de ambientes que exigem condições específicas, como é o caso das adegas de vinho.

Através de um sistema embarcado com conexão Wi-Fi, o dispositivo permite acompanhar em tempo real as condições do ambiente e até simular comandos de um controle remoto de ar-condicionado, além de alertar sobre quedas de energia. O projeto alia tecnologia, automação e Internet das Coisas (IoT) para tornar a gestão de ambientes fechados mais prática, acessível e inteligente.
</p>

<h4>Diagrama de Classes</h4>
<img src="{% static 'imgs/PW2025.png' %}" width="600" height="500"> <br>

<br>
<h4> Diagrama de Casos de Uso (extra) </h4>
<img src="{% static 'imgs/Diagramadecasos2.png' %}" >


{% endblock %}