{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Lista de sensores cadastrados</h3>

<table border="1">

    <tr>
        <th>Descrição</th>
        <th>Controlador</th>
        <th>Tipo Sensor</th>
        <th>Opções</th>
    </tr>

    {% for obj in object_list %}
    <tr>
        <td>{{ obj.descricao }}</td>
        <td>{{ obj.controlador }}</td>
        <td>{{ obj.tipo_sensor }}</td>
        <td>
            <a href="#">Editar</a>
            <a href="#">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum registro encontrado.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}