{% extends "paginasweb/index.html" %}

{% load static %}

{% block conteudo %}
<h3>Lista de tipos de sensores cadastrados</h3>

<table border="1">

    <tr>
        <th>Número Serial</th>
        <th>Descrição</th>
        <th>Opções</th>
    </tr>

    {% for obj in object_list %}
    <tr>
        <td>{{ obj.numero_serial }}</td>
        <td>{{ obj.descricao }}</td>
        <td>
            <a href="#">Editar</a>
            <a href="#">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum registro encontrado.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}